<footer class="footer bg-transparent text-center py-3 mt-auto">
    <div class="container">
        <strong><span class="text-muted">&copy; Troopr Rights Reserved 2021</span></strong>
    </div>
</footer>