<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <strong><a class="navbar-brand" href="/">Troopr</a></strong>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">User</a>
                <a class="nav-link" href="/list">Editable Users</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a class="nav-link" href="/user/new">Add User</a>
            </div>
        </div>
    </div>
</nav>


