<% layout('./layout/boilerplate') %> 
    <div class="inner bg-dark">
        <form action="/user" class="form-group" method="POST">
            <label for="username">User Name</label>
            <input type="text" name="name" class="form-control" id="username" placeholder="Enter Your Name" required><br>
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Enter Your Email" required><br>
            <label for="contact">Mobile No.</label>
            <input type="tel" class="form-control" max="10" min="10" maxlength="10" name="contact" id="contact" placeholder="Enter Your Phone no." required><br>
            <label for="age">Age</label>
            <input type="number" class="form-control" name="age" id="age" placeholder="Enter Your age" required><br>
            <button type="submit" class="btn btn-outline-danger btn-block">Save</button>
        </form>
    </div>
